%h3== Gene: #{name.last}

%dl#gene_description

  %dt 
    Description
    %a{ :target => "_blanl", :href => "http://www.ncbi.nlm.nih.gov/sites/entrez?Db=gene&Cmd=ShowDetailView&ordinalpos=1&itool=EntrezSystem2.PEntrez.Gene.Gene_ResultsPanel.Gene_RVDocSum&TermToSearch=#{entrez}"} Entrez Gene
      
  %dd= description

  %dt Summary
  %dd= summary

%dl#gene_matador
  - gene_info[:Matador].each do |drug|
    %dt Name
    %dd= drug.first

    %dt Info
    %dd= drug[1]

  

-#%h3== Gene: #{name * ", "}
-#/%p= @scores[name].inspect
-#/%h4 Description
-#/%p= @entrez_descriptions[name]
-#%dl
-#  %dt Mutations
-#  %dd
-#    %h4 SNP&GO
-#    = haml :"gene/_snp_go", :layout => false, :locals => {:snp_info => info_gene[:SNP_GO]}
-#    %h4 FireDB
-#    = haml :"gene/_firedb", :layout => false, :locals => {:snp_info => info_gene[:FireDB]}
-#    %h4 Polyphen
-#    = haml :"gene/_polyphen", :layout => false, :locals => {:snp_info => info_gene[:Polyphen]}
-#/  %dt GO terms
-#/  %dd= (info_gene[:GO] || []).collect{|id| go_link(id)} * ", "
-#  %dt KEGG Pathways
-#  %dd= (info_gene[:KEGG] || []).collect{|id| kegg_link(id)} * ", "
-#  %dt Cancers for which it was reported
-#  %dd= (info_gene[:Anais_cancer] || []) * ", "
-#  %dt Drugs and Compounds
-#  %dd
-#    %dl 
-#      - if info_gene[:Matador] && info_gene[:Matador].any?
-#        %dt Matador
-#        %dd
-#          = haml :"gene/_matador", :layout => false, :locals => {:matador_info => info_gene[:Matador]}
-#      - if info_gene[:PharmaGKB] && info_gene[:PharmaGKB].any?
-#        %dt PharmaGKB
-#        %dd
-#          = haml :"gene/_pharmagkb", :layout => false, :locals => {:pharmagkb_info => info_gene[:PharmaGKB]}
-#      - if info_gene[:NCI] && info_gene[:NCI].any?
-#        %dt NCI
-#        %dd
-#          = haml :"gene/_nci", :layout => false, :locals => {:nci_info => info_gene[:NCI]}
-#      - if info_gene[:STITCH] && info_gene[:STITCH].any?
-#        %dt SITICH
-#        %dd
-#          = haml :"gene/_stitch", :layout => false, :locals => {:stitch_info => info_gene[:STITCH]}
-#    
