%h2 
  Mutated Gene: 
  %span(style="color:#008284;font-weight:bold;")= Array === name ? name.last : name

%div#tabs
  %ul
    %li
      %a(href='#tabs-0') Gene Information
    %li 
      %a(href='#tabs-1') Gene Pathways
    %li 
      %a(href='#tabs-2') Gene Drugs

    -if file == 'Raquel'
      %li 
        %a(href='#tabs-3') Patients  
    -if %w(Pancreas Neuroendocrine).include? file
      %li 
        %a(href='#tabs-3') Mutated Protein Isoforms
    
  %div#tabs-0
    = haml :_gene, :layout => false, :locals => {:entrez => entrez,
                                                 :ensembl => ensembl,
                                                 :chr => chr,
                                                 :pos => pos,
                                                 :name => name,
                                                 :info => info,
                                                 :description => description,
                                                 :summary => summary}  

  %div#tabs-1
    = haml :_pathways, :layout => false, :locals => {:info => info}    

  %div#tabs-2
    = haml :_drugs, :layout => false, :locals => {:info => info}  

  -if %w(Pancreas Neuroendocrine).include? file
    %div#tabs-3
      = haml :_protein, :layout => false, :locals => {:info => info, :chr => chr, :pos => pos, :ensembl => ensembl}    

  -if file == 'Raquel'
    %div#tabs-3
      = haml :_patients, :layout => false, :locals => {:info => info}  

