%h2== Gene: <span style="color:#008284;font-weight:bold">#{Array === name ? name.last : name}</span>

%div#tabs
  %ul
    %li
      %a(href='#tabs-0') Gene Description
    %li 
      %a(href='#tabs-1') Pathways
    %li 
      %a(href='#tabs-2') Drugs
    -if file == 'Raquel'
      %li 
        %a(href='#tabs-3') Patients  
    
  %div#tabs-0
    = haml :_gene, :layout => false, :locals => {:entrez => entrez,
                                               :name => name,
                                               :gene_info => gene_info,
                                               :description => description,
                                               :summary => summary}  
  %div#tabs-1
    = haml :_pathways, :layout => false, :locals => {:gene_info => gene_info}    
  
  %div#tabs-2
    = haml :_drugs, :layout => false, :locals => {:gene_info => gene_info}  
  
  -if file == 'Raquel'
    %div#tabs-3
      = haml :_patients, :layout => false, :locals => {:patient_info => patient_info}  

