%h2
  Cell line mutations and their relations with pathways and drugs
%table{:id => "summary_table",:style => "display:none"}
%div#genecard
  
%div#experiments 
  %h3 SELECT YOUR EXPERIMENT
  %ul#file_selection
    - $table_config.keys.sort.each do |file|
      - if file == @file
        %li
          %a.active(href="/experiments/#{ file }")= file
      - else
        %li
          %a(href="/experiments/#{ file }")= file
%div{:class => 'clearfix'}


  
:javascript
  $("#loading").ajaxStart(function() { $(this).css('visibility','visible') });
  $("#loading").ajaxStop(function() { $(this).css('visibility','hidden') });
  genecard_href = '/genecard/' + '#{@file}';
  function exportToExcell(){
    $(location).attr('href',"/excel/#{ @file }");
  }
  
  $('#summary_table').flexigrid(
    #{ @flextable.flexicode(("/data/" + @file).gsub(/,/,",\n"),:sortname => 'Drugs', :buttons => [{:name => "Export to Excel", :bclass => "add", :onpress =>"CALLBACK"}]).sub(/"CALLBACK"/,'exportToExcell')}
  )
